/* Aula inicial :D */
body {
    background:lightblue; 
    font-family: verdana;
    height:100vh;
  }
  .menu{
   background-color: white; 
  }
  .menu ul {
    display: flex; 
    justify-content: space-around;
  }
  
  a{
    color: teal;
    text-decoration: none;
  }  
  a:hover{
    text-decoration: underline;
  }
  
  .menu li{
    list-style: none;
  }
  .site-subtitle,
  .site-title {
    color:whitesmoke;
    text-align: center;
    
  }
  .site-subtitle{
    font-style: italic;
  }